<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= form_for f.artist do |a| %>
    <%= a.label :name %>
  <% end %>
  <%= f.submit %>
<% end %>
